<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SOOKTUBE.dao.HateDAO">
 
    <insert id="ReportVideoList"
            parameterType="com.SOOKTUBE.model.HateDTO">
<!--             useGeneratedKeys="true"
            keyProperty="videoID" -->
        INSERT INTO HATE(`hateID`, `listID`, `userID`)
        VALUES (#{hateID}, #{listID}, #{userID})
    </insert>
    
 
</mapper>