<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SOOKTUBE.dao.ListLikeDAO">

    <insert id="likeaList">
            
            INSERT INTO listLike(`listID`, `username`)
            VALUES(#{listID}, #{username})
            
    </insert>

    <update id="likeaList2" parameterType="int">
            
			UPDATE listInfo
			SET `like` = `like` + 1 
			WHERE (`listID` = #{listID});
    </update>


    <insert id="dislikeaList">
            
            INSERT INTO listDislike(`listID`, `username`)
            VALUES(#{listID}, #{username})
            
    </insert>    

    <update id="dislikeaList2" parameterType="int">
            
			UPDATE listInfo
			SET `dislike` = `dislike` + 1 
			WHERE (`listID` = #{listID});
    </update>

	<select id="selectLikeList"
		    resultType="com.SOOKTUBE.model.ListLikeDTO">
    		
    		SELECT `listID`, `username`
    		FROM listLike
    		WHERE `listID` = #{listID}
    		AND 
    			`username` = #{username}
    		
    </select>
    
	<select id="getLikeListDesc"
			resultType= "com.SOOKTUBE.model.VideoListDTO">
			
			SELECT listInfo.`listID`, listInfo.`listName`, listInfo.`listDesc`, listInfo.`username`, listInfo.`thumbnail`, listInfo.`isPublic`, listInfo.`copied`, listInfo.`like`, listInfo.`dislike`
			FROM listInfo
			WHERE listInfo.`listID` IN (SELECT `listID` FROM listLike WHERE `username` = #{username})
			
			<if test='limit != null and offset != null'>
    		LIMIT #{limit} OFFSET #{offset}
    		</if>
			
	</select>
	
	<select id="getdisLikeListDesc"
			resultType= "com.SOOKTUBE.model.VideoListDTO">
			
			SELECT listInfo.`listID`, listInfo.`listName`, listInfo.`listDesc`, listInfo.`username`, listInfo.`thumbnail`, listInfo.`isPublic`, listInfo.`copied`, listInfo.`like`, listInfo.`dislike`
			FROM listInfo
			WHERE listInfo.`listID` IN (SELECT `listID` FROM listDislike WHERE `username` = #{username})
			
			<if test='limit != null and offset != null'>
    		LIMIT #{limit} OFFSET #{offset}
    		</if>
			
	</select>

	<select id="selectDislikeList"
		    resultType="com.SOOKTUBE.model.ListLikeDTO">
    		
    		SELECT `listID`, `username`
    		FROM listDislike
    		WHERE `listID` = #{listID}
    		AND 
    			`username` = #{username}
    		
    </select>
    
    <select id="countLike"
    		resultType="Integer">
    
    		SELECT COUNT(*)
    		FROM listLike
    		WHERE `listID` = #{listID}		
    		
    </select>
    
    <select id="countDislike"
    		resultType="Integer">
    		
    		SELECT COUNT(*)
    		FROM listDislike
    		WHERE `listID` = #{listID}
    		
    </select>
    
    <select id="getlikedListbyUser"
    		resultType="Integer">
    
    		SELECT `listID`
    		FROM listLike
    		WHERE `username` = #{username}		
    		
    </select>
    
    <select id="getdislikedListbyUser"
    		resultType="Integer">
    		
    		SELECT `listID`
    		FROM listDislike
    		WHERE `username` = #{username}
    
    </select>

    <delete id="revertLike"> 
    	DELETE FROM listLike
    	WHERE `listID` = #{listID}
    	AND
    		`username` = #{username}
    </delete>

    <update id="revertLike2" parameterType="int">
            
			UPDATE listInfo
			SET `like` = `like` - 1 
			WHERE (`listID` = #{listID});
			
    </update>

    <delete id="revertDislike"> 
    	DELETE FROM listDislike
    	WHERE `listID` = #{listID}
    	AND
    		`username` = #{username}
    </delete>
    
    <update id="revertDislike2" parameterType="int">
            
			UPDATE listInfo
			SET `dislike` = `dislike` - 1 
			WHERE (`listID` = #{listID});
			
    </update>
    
</mapper>