<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SOOKTUBE.dao.ListCommentDAO">

    <insert id="commentList"
            parameterType="com.SOOKTUBE.model.ListCommentDTO"
            useGeneratedKeys="true"
            keyProperty="commentID">
            
            INSERT INTO listComments(`listID`, `username`, `userComment`, `commentDate`, `seq`)
            VALUES(#{listID}, #{username}, #{userComment}, CURRENT_TIMESTAMP, 1)
            
    </insert>

    <insert id="recommentList"
            parameterType="com.SOOKTUBE.model.ListCommentDTO"
            useGeneratedKeys="true"
            keyProperty="commentID">
            
            INSERT INTO listComments (`listID`, `username`, `userComment`, `commentDate`, `parent`, `seq`) 
			VALUES (#{listID}, #{username}, #{userComment}, CURRENT_TIMESTAMP, #{parent} , #{seq})
            
    </insert>
    
    <update id="editListComment" parameterType="com.SOOKTUBE.model.ListCommentDTO">
        UPDATE listComments
           SET `userComment` = #{userComment}
             , `commentDate` = CURRENT_TIMESTAMP
         WHERE `listID` = #{listID}
         AND `username` = #{username}
         AND `commentID` = #{commentID}
    </update>


	<select id="getComments"
		    	resultType="com.SOOKTUBE.model.ListCommentDTO">
		    	
		SELECT `commentID`, `listID`, `userComment`, `username`, `commentDate`
		FROM listComments
		WHERE `commentID` = #{commentID}
		    AND `listID` = #{listID}
		    	AND `username` = #{username}
		    	
	</select>
	
	<select id="checkComment"
			resultType = "com.SOOKTUBE.model.ListCommentDTO">
	
			SELECT `commentID`
			FROM listComments
			WHERE `listID` = #{listID}
			AND `parent` = #{parent}
				
	</select>
	
	<select id="getCommentsByListID"
		    	resultType="com.SOOKTUBE.model.ListCommentDTO">
		    	
		SELECT `commentID`, `listID`, `userComment`, `username`, `commentDate`
		FROM listComments
		WHERE `listID` = #{listID}
		    	
	</select>
	
    <delete id="deleteListComment"> 
    	DELETE FROM listComments
		WHERE `commentID` = #{commentID}
		    AND `listID` = #{listID}
		    	AND `username` = #{username}
		    	AND `seq` = #{seq}
    </delete>
    
    <delete id="deleteRecomment">
		DELETE FROM listComments
		WHERE `listID` = #{listID}
		AND `parent` = #{parent}
    
    </delete>

</mapper>