<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SOOKTUBE.dao.VideoCommentGetDAO">

	<select id="getCommentsandProfile"
		    	resultType="com.SOOKTUBE.model.VideoCommentGetDTO">
		    	
		SELECT `commentID`, `videoID`, `userComment`, videoComments.`username`, `commentDate`, `parent`, `seq`,
				`profilepic` as profileUrl
		FROM videoComments, user
		WHERE `videoID` = #{videoID}
			AND user.`username` = videoComments.`username`
		ORDER BY IF(ISNULL(`parent`), `commentID`, `parent`), `seq`;
		    	
	</select>


</mapper>
