$color-white: #ffffff;
$color-light: #f4f4f4;
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: #fa5757;
$color-blue-light: #71A6C6;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $color-blue-dark;
  background: $color-white;
}

.container {
  width: 100%;
  height: auto;
  padding: 0;
}

.title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  color: $color-blue-dark;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  color: $color-blue-gray;
}

.main {
  .tab {
    width: 100%;
    height: auto;
    padding: 2.4rem 0;

    &-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-bottom: 1.3px solid darken($color-light, 10);
      transition: all 0.3s ease;

      &-link {
        position: relative;
        overflow: hidden;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        line-height: inherit;
        cursor: pointer;
        width: calc(100% / 4);
        height: auto;
        padding: 1rem 0;
        border-bottom: 2.5px solid transparent;
        color: $color-blue-gray;
        background: $color-white;
        transition: all 0.3s ease;
        border-radius: 15px 15px 0 0;

        &:focus {
            outline:none;
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          z-index: 2;
        }
      
        &.active {
          bottom: 0px;
          z-index: 0;
          overflow: hidden;
          border-bottom: 2.5px solid $color-blue-light;
          color: $color-blue-dark;
          background: $color-white;
          &:focus {
            outline:none;
          }
        }
      }
    }

    &-bar {
      padding: 1rem 0;
      overflow: hidden;
      background: $color-white;
      border-radius: 0 0 15px 15px;

      &-content {
        display: none;
        width: 100%;
        min-height: 5rem;
        transition: all 0.3s ease;

        &.active {
          display: block;
        }
      }
    }
  }
}
