.loginlogo{
  font-size: 26px;
  width:200px; height:40px;
  position:fixed;
  top:35%; left:50%;
  margin-left:-100px;
  margin-top:-40px;
  padding:0px;
  color: rgb(90, 85, 85);
}
.invalid-feedback{
  color: red;
  font-size: 10px;
}

#username,#password{
  width:396px; height:44px;
}


.form-group1{
  position:absolute;
  top:40%;
  left:50%;
  margin-left:-200px;
  margin-top:-23px;
  padding:0px;
}
.form-group2{
  position:absolute;
  top:52%;
  left:50%;
  margin-left:-200px;
  margin-top:-23px;
  padding:0px;
}


#submit{
  width:400px; height:60px; position:absolute;
  top:60%; left:50%; margin-left:-200px; margin-top:-30spx; padding:0px;
  background-color: rgb(90, 85, 85);
  width:400px;
  height:60px;
  border: none;
  color: white;
}


#regbutton{
  position:absolute;
  top:72.5%;
  left:50%;
  margin-left:95px;
  padding:0px;
}

#regguide{
  position:absolute;
  top:73%;
  left:50%;
  margin-left:-155px;
  padding:0px;
}